.sidebar{
   
    background-color: white;
    left: 0;
    bottom: 0;
    width: 110px;
    top: 60px;
    position: fixed;
    align-items: center;
    border-left-width: 5px;
    border-left-color: rgb(221,221,221);
}
.sidebar-link{
    height: 95px;
    margin-bottom: 1px;
    
}
.sidebar-link:hover {
    background-color: rgb(235,235,235);
}
.sidebar-link img{
    height: 40px;
    width: 45px;
    margin-left: 26px;
    margin-top: 20px;
}